/*#483152*/
/*----------BASIC SETUP------------*/
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
html,
body{
    background-color:white;
    color:#000000;
    font-family: 'Lato','arial',sans-serif; 
    font-weight:300;
    font-size:20px;
    text-rendering:optimizeLegibility;  
    overflow-x:hidden;
}
.clearfix{
    zoom:1;
}
.clearfix::after{
    content:" ";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
   
    
}

/*---------------REUSABLE COMPONENTS-----------*/
.row{
    max-width:1140px;
    margin: 0 auto;

}
section{
    padding:80px 0;
}
.box{
    padding:1%;
}
/*--------------HEADINGS-----------------*/
h1, h2,h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:300;
}
h1{
     margin-top:0;
     margin-bottom:20px;
    color:white;
    font-size:240%; 
     word-spacing:4px;
}
/*---------------HEADER-------------*/

header{
    background-image:linear-gradient(rgba(52, 2, 74, 0.7),rgba(52, 2, 74, 0.7)), url(imgs/background-header.jpg);
    background-size: cover;
     background-position:center; 
    height: 100vh;
    background-attachment:fixed;
}
.logo {
    height: 80px;
    width: auto;
    float: left;
    border-radius: 50%;
    margin: 10px 0;
    padding: 0;
}
.header-text{
    position:absolute;
    width:1140px;
    top:50%;
    left:50%;
    height:150px;
    transform:translate(-50%,-50%);
}
.header-text div  {
    float:right;
    width:200px;
    position:relative;
    top:65px;
    
}
.header-text div img{
    position:absolute;
    height:250px;
    bottom:10px;
    right:2px;
    
     
}
/*--------------BUTTONS---------*/
.bton:link,
.bton:visited{
    display:inline-block;
    padding:10px 30px;
    font-weight:300;
    text-decoration:none;
    border-radius:200px;
    color:#483152;
    transition:background-color 0.2s,border 0.2s, color 0.2s;
    
}

.bton-full:link,
.bton-full:visited{
    background-color:white;
    border:1px solid white;
    margin-right:15px; 
}
.bton-ghost:link,
.bton-ghost:visited{
    border:1px solid #51375d;
    color: white;
}
.bton-full:hover,
.bton-full:active
{
    border:1px solid #231827;
}
.bton-ghost:hover,
.bton-ghost:active{
      background-color:white;
      border:1px solid white;
     color:#483152;
   
}
/*------MAIN NAV------*/

nav{
    background-color:#483152;
}
.main-nav{
    float:right;
    margin-top:55px;
}
.main-nav li{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 0;  
}
.main-nav a:link,
.main-nav a:visited{
    color:white;
    text-decoration: none;
    font-size: 90%;
    margin-right: 10px;
     /*background:#483152;*/
}
.mini-main-nav{
    display: none;
    position: absolute;
    background-color:#483152;
    list-style:none;
    min-width:100px;
    z-index:1;
    float: right;
}
.mini-main-nav a:link,
.mini-main-nav a:visited{
    color:white;
    padding: 12px 16px;
    text-decoration:none;
    display:block;
    font-size:90%;
}
.main-nav li:hover .mini-main-nav{

	display:block;
    background-color:rgba(72, 49, 82, 0.63);  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition:all 0.2s;
     
}
.mini-main-nav li{
    position: relative;
    display: inline-block;
}
.mini-nav{
    float: left;
    /*position: absolute;*/
    display: none;
}
.mini-nav li {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
    margin-left: 20px;
    
}
.mini-main-nav li:hover .mini-nav{
    display: block;
    transition: color 0.2s;
}

/*-----square------*/
.square{
    
    border-left: 4px solid #aaa;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    padding-left:4px;
    vertical-align: middle;
}
.mini-main-nav li:hover  .square{

      border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    padding-left:2px;
    vertical-align: middle;

}