﻿{% load staticfiles  %}


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/./resources/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/./resources/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/./resources/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'app/./resources/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'app/./resources/favicons/safari-pinned-tab.svg' %}" color="#483152">
    <meta name="theme-color" content="#ffffff">
    
    <title>NAT</title>
    
     <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/resources/css/Mystyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/resources/css/querries.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/ionicons.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendors/css/animate.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
</head>
<body>
    <header>
    <nav>
        <div class="row">
            <img src="{% static 'app/resources/images/nat-global-logo.jpeg' %}" alt="nat logo" class="logo"/>
            <ul class="main-nav js--main-nav">
                <li>
                    <a href="#">IMPORT/EXPORT</a>
                    <ul class="mini-main-nav">
                        <li><a href="#">Cosmetiques</a></li>
                        <li><a href="#">Agro-alimentaire </a></li>
                    </ul>
                </li>
                <li><a href="#">FINANCE</a>
                    <ul class="mini-main-nav">
                        <li><a href="#">Transfert d'argent<span class="square"></span></a>
                            <ul class="mini-nav">
                                <li><a href="#">Obtenir un devis</a></li>
                            </ul>
                        </li>
                         <li><a href="#">Bureau de change</a></li>
                         <li><a href="#">Gestion epargne<span class="square"></span></a>
                              <ul class="mini-nav">
                                <li><a href="#">Compte courant</a></li>
                                <li><a href="#">Compte epargne</a></li>
                                 <li><a href="#">Investir</a></li>
                                </ul>
                        </li>
                    </ul>
                </li>
                 <li><a href="#">TOURISME</a>
                   <ul class="mini-main-nav">
                        <li><a href="#">Herbergement</a></li>
                         <li><a href="#">Transport</a></li>
                         <li><a href="#">Guide touristique</a></li>
                        <li><a href="#">Evacuation sanitaire</a></li>
                    </ul>
                </li>
                 <li><a href="#">ACADEMIE</a>
                    <ul class="mini-main-nav">
                        <li><a href="#">Gestion d'etudiants a l'etranger</a></li>
                         <li><a href="#">Aide a l'obtention du visa </a></li>
                    </ul>
                </li>
                <li><a href="#logon" >S'IDENTIFIER</a></li> 
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>
    
     <div class="header-text">
         <h1> bienvenu,<br/> sur nat global service.</h1>
         <a class="bton bton-full js--scroll-to-plans" href="#">Decouvrir NAT</a>
         <a class="bton bton-ghost js--scroll-to-start" href="#">je suis intéressé</a>
        <div> <img src="{% static 'app/resources/css/imgs/giphy.gif' %}" /></div>
     </div>
    
    </header>

    <section class="features js--section-features">
        <div class="row">
            <h2>Un bon service est source d'une bonne affaire</h2>
            <p class="long-copy">
                Nous sommes NAT global service,votre entreprise de confiance.Notre mission est de garantir la sécurité de votre argent, de vos produits et de l'avenir de vos enfants.
             </p>
        </div>

        <div class="row ">
            <div class="col span-1-of-4 box">
                <i class="ion-calendar icon-big"></i>
                <h3>312 jours/An</h3>
                <p>La qualité est notre priorité. Profitez d'un service de haute qualité sur une couverture de 312 jours par an. </p>
            </div>
            <div class="col span-1-of-4 box">
                <i class="ion-person-stalker icon-big"></i>
                <h3>le client est roi</h3>
                <p>Vos problèmes sont nos problèmes. Nous vous assurons de faire du service national votre maison.</p>
            </div>
            <div class="col span-1-of-4 box">
                <i class="ion-wifi icon-big"></i>
                <h3>100% accessible</h3>
                <p> Pas besoin de bouger. Acceder a nos services où que vous soyez car nous nous preocupons aussi de votre bien etre.</p>
            </div>
            <div class="col span-1-of-4 box">
                <i class="ion-home icon-big"></i>
                <h3>vos produits</h3>
                <p>notre soucis est de vous rendre accro a nous.recevez vos produits chez vous.</p>
            </div>
            </div>
</section>
 
<section class="section-city  clearfix">

    <div class="row ">
        <h2>Nos villes</h2>
    </div>
    <div class="=row">
        <div class="col span-1-of-5 box">
            <img src="{% static 'app/resources/images/joburg.jpg' %}" alt="joburg" />
            <h3>johanesburg</h3>
            <div class="city-features">
                <i class="ion-ios-person icon-small"></i>
                500+ abonnés
            </div>
            <div class="city-features">
                <i class="ion-home icon-small"></i>
                joburg
            </div>
            <div class="city-features">
                <i class="ion-social-twitter icon-small"></i>
                <a href="#">Nat_glo</a>
            </div>
        </div>
    </div>
    <div class="col span-1-of-5 box">
        <img src="{% static 'app/resources/images/vaal.jpg' %}" alt="vaal" />
        <h3>Vanderbijlpark</h3>
        <div class="city-features">
            <i class="ion-ios-person icon-small"></i>
            700+ abonnés
        </div>
        <div class="city-features">
            <i class="ion-home icon-small"></i>
            vaal
        </div>
        <div class="city-features">
            <i class="ion-social-twitter icon-small"></i>
            <a href="#">Nat_glo</a>
        </div>
    </div>
    <div class="col span-1-of-5 box">
        <img src="{% static 'app/resources/images/libreville.png' %}" alt="libreville" />
        <h3>Libreville</h3>
        <div class="city-features">
            <i class="ion-ios-person icon-small"></i>
            1000+ abonnés
        </div>
        <div class="city-features">
            <i class="ion-home icon-small"></i>
                 Gabon meca
        </div>
        <div class="city-features">
            <i class="ion-social-twitter icon-small"></i>
            <a href="#">Nat_glo</a>
        </div>
    </div>
    <div class="col span-1-of-5 box">
        <img src="{% static 'app/resources/images/port.jpg' %}" alt="port" />
        <h3>Port-gentil</h3>
        <div class="city-features">
            <i class="ion-ios-person icon-small"></i>
            1200+ abonnés
        </div>
        <div class="city-features">
            <i class="ion-home icon-small"></i>
            Omboue Central
        </div>
        <div class="city-features">
            <i class="ion-social-twitter icon-small"></i>
            <a href="#">Nat_glo</a>
        </div>
    </div>
    <div class="col span-1-of-5 box">
        <img src="{% static 'app/resources/images/moanda.jpg' %}" alt="moanda" id="moanda"/>
        <h3>Moanda</h3>
        <div class="city-features">
            <i class="ion-ios-person icon-small"></i>
            50+ abonnés
        </div>
        <div class="city-features">
            <i class="ion-home icon-small"></i>
            moanda
        </div>
        <div class="city-features">
            <i class="ion-social-twitter icon-small"></i>
            <a href="#">Nat_glo</a>
        </div>
    </div>
</section>

    <section class="section-logon js--section-logon clearfix" id="logon">
        <div class="row">
            <h2>
                Faites partie de notre famille
            </h2>
        </div>
        <div class="row">
            <form method="post" action="#" class="contact-form">
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="name">Nom</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="text" name="name" id="name" placeholder="Votre nom" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="surname">Post-nom</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="text" name="surname" id="surname" placeholder="Votre nom de famille" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="phone">Telphone</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="tel" name="phone" id="phone" placeholder="ex. +27810979698" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="email">Email</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="email" name="email" id="email" placeholder="votre address email" required />
                    </div>
                </div>
               <div class="row">
                   <div class="col span-1-of-3">
                       <label for="gender">Gendre</label>
                   </div>
                       <div class="span-2-of-3">
                           <input type="radio" name="gender" value="male" checked> Homme<br>
                           <input type="radio" name="gender" value="female"> Femme<br>
                       </div>
               </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label for="notification"> Type de Notification</label>
                    </div>
                    <div class="col span-2-of-3">
                        <select name="find-us" id="find-us">
                            <option value="sms">Par sms</option>
                            <option value="whatsap">Par whatsap</option>
                            <option value="emailno" selected>par email</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>&nbsp;</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="submit" value="s'enregistrer" />
                    </div>
                    </div>
                </form>
        </div>
    </section>
<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#">A propos</a></li>
                <li><a href="#">Politique privée</a></li>
                <li><a href="#">Journal</a></li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-link">
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
            </ul>
        </div>

    </div>
    <div class="row">
        <p>
            copyright &copy;; 2015 par NAT global. Tous droits réservés.
        </p>
    </div>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'app/vendors/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'app/resources/javascript/script.js' %}"></script>
</body>
</html>