﻿/*tablets and small laptops : from big table to 1200px widhts smaller than 11140px row
*/
@media only screen and (max-width:1200px){
.header-text{
        position:absolute;
        width:100%;
        padding:0 2%;
    } 
 .row{ padding:0 2%; }

.city-features{
    width:160%;
}
}
/*small tablets to big tablets: from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
.header-text img{
        opacity:0;
    }
body{font-size:18px;}
section{padding: 60px 0; }
.long-copy{
        width:80%;
        margin-left:10%; 
    }
.city-features{
    font-size:90%;
   position:relative;
   right:25px;
}
.contact-form {
        width: 80%;
    }
h3{
    font-size:15px;
    width:100%;
}
input[type=radio]{
    margin:7px 10px;
}
}
   /* small phones to small tablets: from 481 to 767px*/ 
@media only screen and (max-width: 767px) {
.main-nav{display:none;}
body{font-size:16px;}
section{padding:30px;}
 .row,
 .header-text{padding:0 4%;}
h1{font-size:180%;
       margin-top:15px;
       padding-top:90px;
    }
h2{font-size:150%;}
.long-copy{
        width:100%;
        margin-left:0;
    }
 .col{width:100%;
         margin:0 0 4% 0;
    } 
 #moanda{
     width:100%;
 }


 .mobile-nav-icon{
      display:inline-block;
   }
.main-nav{
       float:left;
      margin-top:35px;
      margin-left:25px;
   }
.mini-main-nav{
      float:right;
      position:absolute;
      top:0;
      left:95%;
}
.main-nav li{
       display:block;
   }
.main-nav li a:link, 
.main-nav li a:visited{
       display:block;
       border:0;
       padding:10px 0;
       font-size:100%;
   }
.mini-main-nav a:link,
.mini-main-nav a:visited{
      display:block;
       border:0;
       padding:10px 0;
       font-size:100%;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited { padding: 10px 0; }
.sticky .main-nav{ margin-top: 10px; }
.sticky .mobile-nav-icon { margin-top:10px;}
.sticky .mobile-nav-icon i{ color:#555;}

 }
/*small phones: from 0 to 480px*/
@media only screen and (max-width: 480px){
     section{padding:25px 0;}
     .contact-form{width:100%;}
}